/* Home.css */
.right-menu {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* 간격 조정을 위한 속성 */
}

.menu-item {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fa8125;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #45a049;
}

.banner-container {
  position: relative;
  overflow: hidden;

  width: 100%;
  margin-top: 20px;
  height: 30vh; /* 화면의 절반 높이만큼 설정 */
}

.banner-wrapper {
  display: flex;
  animation: scrollBanner 20s linear infinite; /* 애니메이션 적용 */
}

.banner-image {
  width: 40%;
  height: 30%;
  object-fit: cover;
  margin-right: 40px; /* 이미지 사이 간격 */
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* @keyframes를 사용하여 배너 이동 애니메이션 정의 */
@keyframes scrollBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* 왼쪽으로 이동 */
  }
}

.register-button {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 50px;
}
.banner-title {
  display: flex;
  font-family: "sharp";
  font-size: 10;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* 추가적인 스타일링 작업을 수행할 수 있습니다 */

/* 나머지 스타일들도 추가할 수 있음 */

.grid-container {
  background-color: #45a049;
}

.location {
  display: flex;
}

.detail-below {
  display: flex;
}

.info-data {
  width: 170px;
  margin-left: 5px;
  font-family: "titleFont";
  font-size: 0.8rem;
}

.sheet-data {
  width: 170px;
  padding: 0px;
  margin: 0px;
}

.asset-top-info {
  display: flex;
  justify-content: space-between;
}

/* .asset-top-left {

} */

.asset-top-right {
  margin-top: 5px;
  font-family: "titleFont";
  font-size: 0.9rem;
  text-align: right;
}

.number-input-box {
  margin-top: 10px;
 display: flex;
 justify-content: space-around;
 align-items: flex-end;
 height: 40px;
}

.order-buttons {
  display: flex;
  justify-content: space-between;
}

.chart-wrapper {
  position: relative;
  width: 150px;
  height: 90px;
  margin-top: 10px;
  margin-bottom: -90px;
  z-index: -2;

}

.chart-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.trading-info {
  font-family: "contentFont";
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}