/* portfolio.css */
.eportfolio-container {
    display: flex;
  }
  
  .left-content {
    width: 20%;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .menu-item {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FA8125;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .menu-item:hover {
    background-color: #e27619;
  }
  
  .submenu {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .submenu-item {
    padding: 3px 15px;
    color: #777;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    font-size: 12px;
  }
  
  .submenu-item:hover {
    background-color: #f5f5f5;
  }
  
  .right-content {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .representative-image {
    max-width: 100%;
    height: auto;
  }
  
  .basic-info {
    margin-top: 20px;
  }
  
  /* ... 추가적인 스타일 ... */
  