:root { /* CSS 전역 변수 선언 */
    /* 변수명은 앞에 --를 붙이고, 사용시에는 var(--변수명) 형식으로 사용한다.*/
    --koscom-color : #E37622;
    --gray-color: #72787F;
  }  

/*font*/
@font-face {
    font-family: "contentFont";
    src: url('../fonts/Gowun_Dodum/GowunDodum-Regular.ttf');
  }

@font-face {
    font-family: "officialBoldFont";
    src: url('../fonts/NanumSquareNeo/TTF/NanumSquareNeo-eHv.ttf');
  }

@font-face {
    font-family: "officialRegularFont";
    src: url('../fonts/NanumSquareNeo/TTF/NanumSquareNeo-cBd.ttf');
  }

.asset-box {
    margin-top: 5px;
    display: flex;
    height: 80px;
}

.img-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 15px;
}

.content-div {
    display: flex;
}

.basic-text {
    font-size: 0.7rem;
    font-family: "contentFont";
    
}

.location-label {
    display: flex;
}

.address-label {
    font-size: 0.7rem;
}

.asset-name {
    font-weight: 600;
    height: 20px;
}

.asset-topbox {
  display: flex;
  justify-content: space-between;
}

.info-span {
    width: 140px;
    margin-bottom: 7px;
}

.price-span {
  width: 90px;
  flex-direction: column;
  align-items: flex-end;

}

.amount-large {
    font-family: "officialBoldFont";
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 3px;
}

.positive {
    text-align: right;
    font-family: "officialRegularFont";
    font-size: 0.5rem;
    color: red;
}

.negative {
    text-align: right;
    font-family: "officialRegularFont";
    font-size: 0.5rem;
    color: blue;
}

.neutral {
    text-align: right;
    font-family: "officialRegularFont";
    font-size: 0.5rem;
    color: gray;
}