/* portfolio.css */
.logo-image {
  display: flex;
  width: 10%;
  margin-top: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 2;
  margin-top: 12px;
}

.login-button {
  display: flex;
  margin: auto;
  padding-left: 50px;
}
