:root {
  /* CSS 전역 변수 선언 */
  /* 변수명은 앞에 --를 붙이고, 사용시에는 var(--변수명) 형식으로 사용한다.*/
  --koscom-color: #e37622;
  --gray-color: #72787f;
}

/*font*/
@font-face {
  font-family: "contentFont";
  src: url("./fonts/Gowun_Dodum/GowunDodum-Regular.ttf");
}

@font-face {
  font-family: "titleFont";
  src: url("./fonts/NanumSquareNeo/NanumSquareNeo-Variable.ttf");
}

@font-face {
  font-family: "cuteFont";
  src: url("./fonts/Jua/Jua-Regular.ttf");
}
@font-face {
  font-family: "sharp";
  src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 전체 프레임*/
.default-frame {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/* title */

.my-place {
  margin: 5px;
  font-family: "contentFont";
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--gray-color);
  text-align: right;
}

/* Asset 용*/
.asset-box {
  height: 60px;
  border: var(--koscom-color);
  display: flex;
  align-items: center;
  justify-content: start;
}

.asset-preview {
  /* Asset Preview Image */
  width: 50px;
  margin-left: 10px;
}

.inblock-item {
  margin-left: 10px;
}

.color-title {
  font-family: "titleFont";
  color: var(--koscom-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.content-font {
  font-family: "contentFont";
  color: var(--gray-color);
  font-weight: bold;
}

.more-info-button {
  height: min-content;
  border-color: transparent;
  border-width: 1.4px;
  border-top-color: darkgray;
  background-color: transparent;
  color: var(--gray-color);
  width: 100%;
  text-align: center;
  height: 30px;
}

.amount-label {
  display: flex;
  height: 30px;
  font-size: 3px;
  justify-content: space-between;
}

.progress-label {
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 3px;
}

.key-label {
  font-family: "titleFont";
  text-align: left;
  ont-size: 0.8rem;
}

.value-label {
  font-family: "titleFont";
  text-align: right;
  font-weight: 550;
  font-size: 0.9rem;
}

.value-label2 {
  text-align: right;
  font-weight: bold;
  font-size: 0.8rem;
}
colorhr > hr {
  color: var(--koscom-color);
  margin-bottom: 0px;
}

/* Login 페이지*/
.login {
  display: block;
  justify-content: center;
}

.gray-center-title {
  padding-top: 20%;
  font-family: "titleFont";
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.text-input {
  height: 40px;
  width: 100%;
  background-color: #f2f3f5;
  border: transparent;
  border-radius: 10px;
  padding-left: 16px;
  margin-bottom: 15px;
}

.small-title {
  margin-bottom: 0;
  padding-left: 7px;
  font-size: 0.9rem;
}

.one-line {
  display: flex;
  justify-content: center;
}

.gray-small-text {
  font-size: 0.9rem;
  margin-left: 7px;
  color: var(--gray-color);
  margin-top: 2px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.tab-title-btn {
  border: transparent;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  width: 25%;
  font-family: "titleFont";
}

/*List*/

.asset-list {
  margin-top: 20px;
}

.ipo-list {
  margin-top: 20px;
}

.custom-box {
  background-color: #f0f0f0;
  width: 95%;
  border: #eceff2;
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin: 10px;
  align-items: center;
}

.search-input {
  border: transparent;
  width: 85%;
  background-color: transparent;
  padding-left: 15px;
}

.search-icon {
  width: 20px;
  height: 30px;
}

.color-under-bar {
  border-bottom: solid 1px;
  border-color: var(--koscom-color);
}

.main-amount {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.right-label {
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
  width: 70%;
}

.left-label {
  text-align: left;
  width: 30%;
}

.bottom-empty-space {
  height: 200px;
}

.progress-bar {
  width: 100%;
  height: 18px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #ffc106;
  transition: width 0.3s ease-in-out; /* 애니메이션 효과를 추가합니다 */
}

.percent-text {
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  margin-top: 3px;
  color: black;
  font-size: 0.6rem;
  font-weight: bold;
}

.ipo-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: -90px;
  z-index: -2;

}

.ipo-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.vertical-progress-bar {
  width: 100px;
  height: 250px;
  border: 1px solid var(--koscom-color);
  position: relative;
  display: inline-block;
  margin-right: 15px;
  border-radius: 10px;
}

.filler {
  background-color: var(--koscom-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height 0.3s ease;
  border-radius: 10px;
}

.filler-text {
  font-family: "contentFont";
  font-weight: bold;
  margin-left: 25px;
}

.ipo-top-box {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.ipo-top-left {
  width: 200px;
  margin-right: 5px;
}

.ipo-title {
  font-family: "titleFont";
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.ipo-top-right {
  margin-top: 5px;
  font-family: "titleFont";
  font-size: 0.8rem;
  text-align: right;
}

.ipo-bottom-box {
  display: flex;
}

.ipo-info-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: "titleFont";
}

.number-infos {
  width: 80%;
  margin-right: 5px;
}

.button-span {
  display: flex;
  justify-content: end;
}

.ipo-info-box {
  position: relative;
  margin-top: 0px;
  /* border: solid var(--koscom-color); */
  border-radius: 10px;
  padding: 5px;
  background-color: #eceff2; opacity : 0.9;
}

.img-top-title {
  position: absolute;
  top: 60px;
  left: center;
  margin-left: 10px;
  font-weight: 600;
  color: white;
}

.img-cover {
  position: fixed;
  background-color: black; opacity : 0.5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.place-combo {
  display: flex;
  justify-content: right;
  height: 30px;
  margin-bottom: 0px;
}

.right-span {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

/* --- */
.image-with-background {
  display: inline-block;
  border: 1px solid #ccc;
  overflow: hidden;
}